@import 'variables';

.aboutContainer{
    @include cardContainer();
    .box{
        @include boxContainer();
        .category{
            @include categoryTitle();
        }
        .name{
            font:$font_bold $font_size_normal;
        }
        .age{
            font:italic $font_size_small;
        }
        .intro{
            @include introContainer();
            line-height: 29px;
            &::-webkit-scrollbar{
                display:none;
            }
            h3{
                font:$font_size_biggest $title_font;
                margin-bottom: 20px;
            }
            .introduction{
                padding:10px 20px 0 0;
                font-size: $font_size_big;
                max-width:800px
            }
            .skills{
                margin-top: 20px;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap:40px;
                    li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        list-style: none;
                        font-size: $font_size_normal;
                        img{
                            width:80px;
                            height:80px;
                        }
                    }
                }
            }
            .resume{
                @include center();
                margin:20px;
                a{
                    position: relative;
                    @include center();
                    margin-right: 40px;
                    text-decoration: none;
                    color:$color_white;
                    border: $border_style $color_white;
                    border-radius: $border_radius;
                    width:100px;
                    transition: $base_transition;
                    overflow: hidden;
                    font-weight: $font_bold;
                    &:hover{
                        color:$color_main;
                        &::before{
                            top:0;
                        }
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        background-color: $color_white;
                        left:0;
                        top:-180%;
                        width:100%;
                        height:100%;
                        z-index: -1;
                        transition: $base_transition;
                    }
            
                }
            }
        }

    }
}