.Close{
    transform: translateX(-75px);
}
.navbarContainer{
    position: fixed;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
    z-index: 999;
    .Navbar{
        display: flex;
        justify-content: center;
        background-color: #FFC7B2;
        height:100vh;
        width:80px;
        border-radius: 0px 50px 50px 0px;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                list-style-type: none;
                margin-bottom: 30px;
                font-size: 1.25rem;
                font-weight: bold;
                transition: 0.2s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                    
                }
                a{
                    color:#FFF6F0;
                    text-decoration: none;
                    outline: none;
                    transition: 0.2s ease-in-out;
                    &:hover{
                        color:#EC6937;
                    }
                }
            }
        }
    }
    .toggleBtn{
        position: relative;
        .circleBtn{
            display: flex;
            justify-content:flex-end;
            align-items: center;
            position: absolute;
            cursor: pointer;
            left:-15px;
            top:-20px;
            width:30px;
            height:30px;
            border-radius: 50px;
            background-color: #FFC7B2;
            .arrow {
                transition: 0.5s ease-in;
                display: flex;
                align-items: center;
            }
            .close{
                transform: rotate(180deg);
            }
        }
    }
}