@import './styles/variables.scss';

.App{
    position: relative;
    overflow:hidden;
    height:100vh;
    width:100%;
    font-family: $base_font;
    .background{
        position: absolute;
        z-index:-999;
    }
    .refresh{
        position: absolute;
        top:20px;
        left:20px;
        cursor: pointer;
        .refreshIcon{
            background-color: transparent;
            font-size: $font_size_biggest;
            transition: $base_transition;
            &:hover{
                color:$color_blue;
                transform: rotate(360deg);
            }
        }
    }
    .pinch{
        position: absolute;
        top:20px;
        left:70px;
        cursor: pointer;
        .pinIcon{
            background-color: transparent;
            font-size: $font_size_biggest;
            &:hover{
                color:$color_red;
                animation: pin 0.5s ;
                @keyframes pin {
                    0%{
                        transform: translateY(0);
                    }
                    30%{
                        transform: translateY(-5px);
                    }
                    70%{
                        transform: translateY(10px);
                    }
                }
            }
        }
        .fix{
            color:$color_red;
        }
    }
    .text{
        position: absolute;
        top:20px;
        left:120px;
        color:$color_black;
        padding:5px;
        cursor: pointer;
        height:auto;
        .up,.down{
            transition: $base_transition;
        }
        &:hover{
            .up{
                position: relative;
                color: $color_blue;
                font-weight: $font_bold;
            }
            .down{
                position: relative;
                color: $color_red;
                font-weight: $font_bold;
            }
        }
    }
}